mixin plug(baseCSS)

    div.col-xs-12(class=baseCSS + 'socialLinks')
        div.row
            a(href='https://codepen.io/JeffreyPD7/')
                div.col-xs-3(class=baseCSS + 'socialLinks--btns')
                    i.fa.fa-codepen.fa-4x(class=baseCSS + 'socialLinks--btns__i')

            a(href='https://www.facebook.com/jeffrey.paulino.376')
                div.col-xs-3(class=baseCSS + 'socialLinks--btns')
                    i.fa.fa-facebook-square.fa-4x(class=baseCSS + 'socialLinks--btns__i')

            a(href='https://github.com/JeffreyPD7')
                div.col-xs-3(class=baseCSS + 'socialLinks--btns')
                    i.fa.fa-github.fa-4x(class=baseCSS + 'socialLinks--btns__i')

            a(href='https://www.linkedin.com/in/jeffrey-paulino-40876712b')
                div.col-xs-3(class=baseCSS + 'socialLinks--btns')
                    i.fa.fa-linkedin-square.fa-4x(class=baseCSS + 'socialLinks--btns__i')
